@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/robotoSlab/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/robotoSlab/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}

:root {
  --white: #fff;
  --black: #000;
  --red: #fc4100;

  --black100: #6b6b6b;
  --black200: #525252;
  --black300: #373737;
  --black400: #1f1f1f;
  --black500: #040404;
  --black600: #181818;

  --gray100: #dedede;
  --gray200: #c4c4c4;
  --gray300: #ababab;
  --gray400: #999;
  --gray500: #808080;

  --orange100: #fff7eb;
  --orange200: #fcc369;
  --orange300: #fbaf37;
  --orange400: #f89a05;
  --orange500: #e18c05;

  --blue100: #535779;
  --blue200: #3e415b;
  --blue300: #2a2c3d;

  --line100: #f2f2f2;
  --line200: #e6e6e6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.4px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: calc(env(safe-area-inset-bottom) + 100%);
  min-height: calc(env(safe-area-inset-bottom) + 100%);
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

a {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

ul,
li,
ol {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

img,
iframe,
video {
  max-width: 100%;
}
section,
header,
footer {
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  image-rendering: -moz-auto;
  image-rendering: -o-auto;
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  font-weight: 400;
  font-family: "Pretendard", sans-serif;
  background: var(--black);
  color: var(--white);
}

.bg-albaform {
  background-position: -120px -70px;
}

.bg-pandamarket {
  background-position: 150px 0;
}

@media (max-height: 970px) {
  .bg-low-height-albaform {
    background-position: -120px -220px;
  }

  .bg-low-height-pandamarket {
    background-position: 150px -100px;
  }

  .bg-low-height-globalnomad {
    background-position: 0 -65px;
  }

  .bg-low-height-rolling {
    background-position: 0 -65px;
  }
}

.leftMode .slick-track {
  margin-left: 0;
}

.slick-dots {
  position: relative;
  bottom: -15px;
}

.slick-dots li button:before {
  font-size: 15px;
  content: "■";
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.slick-dots li button:before {
  opacity: 0.4;
  color: var(--white);
}
