@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/robotoSlab/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/robotoSlab/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}

:root {
  --white: #fff;
  --black: #000;
  --red: #fc4100;

  --black100: #6b6b6b;
  --black200: #525252;
  --black300: #373737;
  --black400: #1f1f1f;
  --black500: #040404;
  --black600: #181818;
  --black700: #1e1e1e;

  --gray100: #dedede;
  --gray200: #c4c4c4;
  --gray300: #ababab;
  --gray400: #999;
  --gray500: #808080;

  --orange100: #fff7eb;
  --orange200: #fcc369;
  --orange300: #fbaf37;
  --orange400: #f89a05;
  --orange500: #e18c05;

  --blue100: #535779;
  --blue200: #3e415b;
  --blue300: #2a2c3d;

  --line100: #f2f2f2;
  --line200: #e6e6e6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.4px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: calc(env(safe-area-inset-bottom) + 100%);
  min-height: calc(env(safe-area-inset-bottom) + 100%);
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

a {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

ul,
li,
ol {
  list-style: none;
}

ul.list-disc,
ul.list-disc li {
  list-style: disc inside !important;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

img,
iframe,
video {
  max-width: 100%;
}
section,
header,
footer {
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  image-rendering: -moz-auto;
  image-rendering: -o-auto;
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  font-weight: 400;
  font-family: "Pretendard", sans-serif;
  background: var(--black);
  color: var(--white);
}

.bg-albaform {
  @media (min-width: 900px) {
    background-position: -40px -80px;
  }
  @media (min-width: 1050px) {
    background-position: -40px -60px;
  }
  @media (min-width: 1200px) {
    background-position: -40px -70px;
  }
}

.bg-pandamarket {
  background-position: 150px 0;
}

@media (max-height: 970px) {
  .bg-low-height-albaform {
    background-position: -120px -220px;
  }

  .bg-low-height-pandamarket {
    background-position: 150px -100px;
  }

  .bg-low-height-globalnomad {
    background-position: 0 -65px;
  }

  .bg-low-height-rolling {
    background-position: 0 -65px;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
