.swiper-pagination-bullet {
  width: 10px !important;
  height: 4px !important;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.5) !important;
  opacity: 1 !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px) !important;
}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid var(--black) !important;
}
